blinker==1.6.2
click==8.1.7
colorama==0.4.6
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
Werkzeug==2.3.7
zipp==3.17.0
Cython==3.0.2
Flask==2.3.3
pandas==1.4.2
scikit-learn==1.3.1
Flask-Cors==4.0.0
numpy==1.22.4
gunicorn==21.2.0
requests==2.27.1
openai==0.28.1 
Flask-Limiter==3.5.0
redis==5.0.1
pydub==0.25.1


